*{padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration:none}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.example-block{
   box-sizing: border-box 30px #000; padding-block: 30px;
width: 500px;
}
.example-block2{
padding: 30px 30px 30px 40px; 
overflow: scroll;
border: 1px solid #000;
margin: 30px 0px;
}
.example-block3{  display: inline; margin:30px;}
.example-block4{display: inline; margin:30px;
}
.example-block5{margin: 50px;}

.example-string{
display: block;
}
.example-string2{
display: block;
}
.example-string3{
display: inline;
}
.example-string4{ display: inline;margin: 50px;
}
.example-string5{display: block;margin: 50px;

}
.example-image{

}